* {
    box-sizing: border-box;
}

body {
    
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;

}

img {
    max-width: 100%;
    height: auto;
}
/* контролируем размер картинки, чтобы она не выходила за пределы бокса */

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    background-color: pink;
    padding: 100px 0;
   
}

article {
    width: 30%;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   /* align-items: center;*/
}

#posts h2 {
    font-size: 32px;
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px grey;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 44px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}

#posts p {
    margin: 10px 0;
    font-size: ;
    margin-bottom: 50px;
}

#posts span {
    font-weight: 700;
}

#posts a {
    display: inline-block;
    padding: 15px 40px;
    background-color: yellow;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    line-height: 25px;
    transition: background-color 0.3s cubic-bezier(0.06, 1.39, 0.77, 0), color 0.3s ease;
}

#posts a:hover,
#posts a:focus {
    color: #ffffff;
    background-color: black;
}